# LEITURA DOS DADOS

In [3]:
#importando as primeiras bibliotecas
import pandas as pd
import numpy as np
import nbformat

In [4]:
df = pd.read_csv('COVID19_cases_Toronto.csv')
df.head()

,_id,Outbreak Associated,Age Group,Neighbourhood Name,FSA,Source of Infection,Classification,Episode Date,Reported Date,Client Gender,Outcome,Currently Hospitalized,Currently in ICU,Currently Intubated,Ever Hospitalized,Ever in ICU,Ever Intubated
0,44294,Sporadic,50-59,Malvern,M1B,Institutional,CONFIRMED,2020-03-25,2020-03-27,MALE,RESOLVED,No,No,No,No,No,No
1,44295,Sporadic,20-29,Malvern,M1B,Community,CONFIRMED,2020-03-20,2020-03-28,MALE,RESOLVED,No,No,No,Yes,No,No
2,44296,Sporadic,60-69,Malvern,M1B,Travel,CONFIRMED,2020-03-04,2020-03-08,FEMALE,RESOLVED,No,No,No,Yes,Yes,Yes
3,44297,Outbreak Associated,50-59,Rouge,M1B,N/A - Outbreak associated,CONFIRMED,2020-05-02,2020-05-04,FEMALE,RESOLVED,No,No,No,No,No,No
4,44298,Sporadic,30-39,Rouge,M1B,Close contact,CONFIRMED,2020-05-31,2020-06-06,FEMALE,RESOLVED,No,No,No,No,No,No

In [5]:
df.tail()

,_id,Outbreak Associated,Age Group,Neighbourhood Name,FSA,Source of Infection,Classification,Episode Date,Reported Date,Client Gender,Outcome,Currently Hospitalized,Currently in ICU,Currently Intubated,Ever Hospitalized,Ever in ICU,Ever Intubated
14907,59200,Outbreak Associated,50-59,NaN,NaN,N/A - Outbreak associated,CONFIRMED,2020-06-11,2020-06-15,FEMALE,RESOLVED,No,No,No,No,No,No
14908,59201,Outbreak Associated,20-29,NaN,NaN,N/A - Outbreak associated,CONFIRMED,2020-05-09,2020-05-23,FEMALE,RESOLVED,No,No,No,No,No,No
14909,59202,Outbreak Associated,40-49,NaN,NaN,N/A - Outbreak associated,CONFIRMED,2020-06-18,2020-06-19,FEMALE,RESOLVED,No,No,No,No,No,No
14910,59203,Outbreak Associated,19,NaN,NaN,N/A - Outbreak associated,PROBABLE,2020-06-13,2020-06-13,MALE,RESOLVED,No,No,No,No,No,No
14911,59204,Outbreak Associated,50-59,NaN,NaN,N/A - Outbreak associated,CONFIRMED,2020-06-22,2020-06-23,FEMALE,RESOLVED,No,No,No,Yes,No,No

In [6]:
#lendo as informações dos dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14912 entries, 0 to 14911
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     14912 non-null  int64
 1   Outbreak Associated     14912 non-null  object
 2   Age Group               14880 non-null  object
 3   Neighbourhood Name      14299 non-null  object
 4   FSA                     14345 non-null  object
 5   Source of Infection     14912 non-null  object
 6   Classification          14912 non-null  object
 7   Episode Date            14912 non-null  object
 8   Reported Date           14912 non-null  object
 9   Client Gender           14912 non-null  object
 10  Outcome                 14912 non-null  object
 11  Currently Hospitalized  14912 non-null  object
 12  Currently in ICU        14912 non-null  object
 13  Currently Intubated     14912 non-null  object
 14  Ever Hospitalized       14912 non-null  object
 15  Ever in ICU             14912 non-null  object
 16  Ever Intubated          14912 non-null  object
dtypes: int64(1), object(16)
memory usage: 1.9+ MB

In [7]:
#descrevendo estátistica sobre os dados
df.describe(include='all')

,_id,Outbreak Associated,Age Group,Neighbourhood Name,FSA,Source of Infection,Classification,Episode Date,Reported Date,Client Gender,Outcome,Currently Hospitalized,Currently in ICU,Currently Intubated,Ever Hospitalized,Ever in ICU,Ever Intubated
count,14912.000000,14912,14880,14299,14345,14912,14912,14912,14912,14912,14912,14912,14912,14912,14912,14912,14912
unique,NaN,2,9,140,96,8,2,149,142,5,3,2,2,2,2,2,2
top,NaN,Sporadic,50-59,Glenfield-Jane Heights,M9V,N/A - Outbreak associated,CONFIRMED,2020-04-15,2020-05-29,FEMALE,RESOLVED,No,No,No,No,No,No
freq,NaN,9334,2354,502,850,5578,13686,292,437,7909,13196,14761,14883,14887,13064,14512,14625
mean,51748.500671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,4304.866782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,44294.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,48020.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,51748.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,55476.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,59204.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# TRATANDO DADOS AUSENTES

In [8]:
#verificando dados nulos
#true = dados faltantes
#false = dados não faltantes nas colunas
df.isnull()

,_id,Outbreak Associated,Age Group,Neighbourhood Name,FSA,Source of Infection,Classification,Episode Date,Reported Date,Client Gender,Outcome,Currently Hospitalized,Currently in ICU,Currently Intubated,Ever Hospitalized,Ever in ICU,Ever Intubated
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14907,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False
14908,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False
14909,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False
14910,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False
14911,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
#verificando dados nulos para cada coluna
df.isnull().sum()

_id                         0
Outbreak Associated         0
Age Group                  32
Neighbourhood Name        613
FSA                       567
Source of Infection         0
Classification              0
Episode Date                0
Reported Date               0
Client Gender               0
Outcome                     0
Currently Hospitalized      0
Currently in ICU            0
Currently Intubated         0
Ever Hospitalized           0
Ever in ICU                 0
Ever Intubated              0
dtype: int64

In [10]:
#excluindo os dados ausentes
dado = df.dropna()
dado.shape

(14275, 17)

In [11]:
dado.isnull().sum()

_id                       0
Outbreak Associated       0
Age Group                 0
Neighbourhood Name        0
FSA                       0
Source of Infection       0
Classification            0
Episode Date              0
Reported Date             0
Client Gender             0
Outcome                   0
Currently Hospitalized    0
Currently in ICU          0
Currently Intubated       0
Ever Hospitalized         0
Ever in ICU               0
Ever Intubated            0
dtype: int64

In [12]:
#dados ausentes percentualmente
faltantes_percentual = (dado.isnull().sum() / len(dado['_id']))*100
print(faltantes_percentual)

_id                       0.0
Outbreak Associated       0.0
Age Group                 0.0
Neighbourhood Name        0.0
FSA                       0.0
Source of Infection       0.0
Classification            0.0
Episode Date              0.0
Reported Date             0.0
Client Gender             0.0
Outcome                   0.0
Currently Hospitalized    0.0
Currently in ICU          0.0
Currently Intubated       0.0
Ever Hospitalized         0.0
Ever in ICU               0.0
Ever Intubated            0.0
dtype: float64

In [13]:
# Excluir as colunas "Age Group" e "Reported Date"
dado = dado.drop(columns=['Age Group', 'Reported Date', '_id'])
print(dado.columns)

Index(['Outbreak Associated', 'Neighbourhood Name', 'FSA',
       'Source of Infection', 'Classification', 'Episode Date',
       'Client Gender', 'Outcome', 'Currently Hospitalized',
       'Currently in ICU', 'Currently Intubated', 'Ever Hospitalized',
       'Ever in ICU', 'Ever Intubated'],
      dtype='object')

In [14]:
# Transformando strings 'yes' e 'no' para numérico
cols_to_convert = [
    'Currently Hospitalized',
    'Currently in ICU',
    'Currently Intubated',
    'Ever Hospitalized',
    'Ever in ICU',
    'Ever Intubated'
]

# Mapeie 'yes' para 1 e 'no' para 0 em todas as colunas especificadas no DataFrame 'dado'
dado.loc[:, cols_to_convert] = dado.loc[:, cols_to_convert].replace({'Yes': 1, 'No': 0})
print(dado.head())

   Outbreak Associated Neighbourhood Name  FSA        Source of Infection  \
0             Sporadic            Malvern  M1B              Institutional
1             Sporadic            Malvern  M1B                  Community
2             Sporadic            Malvern  M1B                     Travel
3  Outbreak Associated              Rouge  M1B  N/A - Outbreak associated
4             Sporadic              Rouge  M1B              Close contact

  Classification Episode Date Client Gender   Outcome Currently Hospitalized  \
0      CONFIRMED   2020-03-25          MALE  RESOLVED                      0
1      CONFIRMED   2020-03-20          MALE  RESOLVED                      0
2      CONFIRMED   2020-03-04        FEMALE  RESOLVED                      0
3      CONFIRMED   2020-05-02        FEMALE  RESOLVED                      0
4      CONFIRMED   2020-05-31        FEMALE  RESOLVED                      0

  Currently in ICU Currently Intubated Ever Hospitalized Ever in ICU  \
0                0                   0                 0           0
1                0                   0                 1           0
2                0                   0                 1           1
3                0                   0                 0           0
4                0                   0                 0           0

  Ever Intubated
0              0
1              0
2              1
3              0
4              0

In [15]:
# invertendo os valores das colunas strings
dado.loc[:, 'Classification'] = dado['Classification'].replace({'CONFIRMED': 1, 'PROBABLE': 0})
dado.loc[:, 'Client Gender'] = dado['Client Gender'].replace({'MALE': 1, 'FEMALE': 0})
dado.loc[:, 'Outcome'] = dado['Outcome'].replace({'RESOLVED': 1, 'FATAL': 0})
dado.head()

,Outbreak Associated,Neighbourhood Name,FSA,Source of Infection,Classification,Episode Date,Client Gender,Outcome,Currently Hospitalized,Currently in ICU,Currently Intubated,Ever Hospitalized,Ever in ICU,Ever Intubated
0,Sporadic,Malvern,M1B,Institutional,1,2020-03-25,1,1,0,0,0,0,0,0
1,Sporadic,Malvern,M1B,Community,1,2020-03-20,1,1,0,0,0,1,0,0
2,Sporadic,Malvern,M1B,Travel,1,2020-03-04,0,1,0,0,0,1,1,1
3,Outbreak Associated,Rouge,M1B,N/A - Outbreak associated,1,2020-05-02,0,1,0,0,0,0,0,0
4,Sporadic,Rouge,M1B,Close contact,1,2020-05-31,0,1,0,0,0,0,0,0

In [16]:
dado.to_csv("pre-processed_data_COVID19.csv")